@charset "UTF-8";

iframe#filmes-tv {
    width: 470px;
    height: 300px;
    border: none;
    position: relative;
    left: 75px;
    top: 40px;
    overflow: hidden;
}

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 489px;
    width: 300px;
}